@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

/* ===== Imagens de fundo ===== */
.pilastra1,
.pilastra2,
.teles {
  position: absolute;
  z-index: 1; /* todas atrás do conteúdo */
  pointer-events: none; /* não bloqueiam clique */
}

/* Pilastra do lado esquerdo */
.pilastra1 {
  left: -60px;
  bottom: 25px;
  transform: scale(1.4);
}

/* Pilastra do lado direito */
.pilastra2 {
  right: -60px;
  bottom: 25px;
  transform: scale(1.3);
}

/* Teles */
.teles {
  transform: scale(0.8);
  bottom: -100px;
  left: 25px;
}

/* ===== Container principal de textos ===== */
.container {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: transparent;
  position: relative;
  z-index: 3; 
}

.containerTexts {
  text-align: center;
  max-width: 700px;
  width: 60%;
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-top: 125px;
}

.textWelcome {
  margin-top: 25px;
  text-align: center;
}

/* ===== Botão ===== */
.containerButton {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  position: relative;
  z-index: 4; /* topo absoluto */
}

.btnIniciar {
  padding: 12px 80px;
  background-color: #598DCF;
  color: #FFF;
  font-weight: bold;
  font-size: 1.5rem;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.btnIniciar:hover {
  background-color: #417ec0;
  transform: translateY(-2px);
}

/* =========== INTRODUCTION =============== */

.boxInt {
  display: flex;
  align-items: flex-start;
  margin: 20px 40px -100px 0px;
  padding: 20px; 
}

.containerInt {
  background-color: #F2E6D8;
  margin: 70px 0px 0px 0px;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 10px;
  font-weight: 400;
}

.telesInt {
  transform: scale(0.4);
  margin-top: -75px;
}

.paragrafo {
  margin-top: 10px;
  text-align: left;
}

.containerButtonInt {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
  flex-direction: column;
}

.btnInt {
  background-color: #598DCF;
  color: #FFFFFF;
  opacity: 0.8;
  font-weight: 500;
  padding: 5px 75px;
  font-size: 1.5rem;
  border: none;
  border-radius: 10px;
}

.btnInt:hover {
  opacity: 1;
  transform: translateY(-2px);
}

/* ======================= NL ============================ */

.modo {
  font-weight: 800;
  font-size: 1.2rem;
  margin-top: 25px;
  margin-left: 25px;
}

.containerModo {
  margin-left: 25px;
  margin-top: 15px;
  max-width: 111px;
  height: 35px;
  border: 2.5px solid #598DCF;
  border-radius: 8px;
  display: flex;
  padding-left: 15px;
  align-items: center;
}

.nlText {
  font-weight: 800;
  font-size: 1.2rem;
  margin-top: 50px;
  margin-left: 25px;
}

.nlInput {
  width: 80%;
  padding: 12px;
  font-size: 16px;
  border: 2.5px solid #598DCF;
  border-radius: 8px;
  outline: none;
  margin-left: 25px;
  margin-top: 15px;
}

.nlInput:focus {
  border-color: #224777; /* muda se quiser */
}

.containerButtonNL {
  display: flex;
  justify-content: center;
  gap: 75px;
  margin-top: 75px;
}

.nlButton {
  background-color: #598DCF;
  color: #FFF;
  font-weight: 800;
  text-align: center;
  width: 275px;
  height: 50px;
  border-radius: 7px;
  border: none;
  font-size: 1.2rem;
}

.nlButton:hover {
  transform: translateY(-2px);
  background-color: #3974BF;
}

.containerRespostaNL {
  display: flex;
  align-items: flex-start;
  margin-top: 50px;
  gap: 50px;
}

.cpcText {
  font-weight: 800;
  font-size: 1.2rem;
  margin-top: 50px;
  margin-left: 25px;
}

.cpcInput {
  width: 80%;
  padding: 12px;
  font-size: 16px;
  border: 2.5px solid #7062D4;
  border-radius: 8px;
  outline: none;
  margin-left: 25px;
  margin-top: 15px;
}

.cpcInput:focus {
  border-color: #8A6D3B; /* muda se quiser */
}

.containerButtonCPC {
  display: flex;
  justify-content: center;
  gap: 75px;
  margin-top: 75px;
}

.cpcButton {
  background-color: #598DCF;
  color: #FFF;
  font-weight: 800;
  text-align: center;
  width: 275px;
  height: 50px;
  border-radius: 7px;
  border: none;
  font-size: 1.2rem;
}

.cpcButton:hover {
  transform: translateY(-2px);
  background-color: #3974BF;
}

.containerRespostaCPC {
  display: flex;
  align-items: flex-start;
  margin-top: 50px;
  gap: 50px;
}



.telesResposta {
  transform: scale(0.4);
  margin-top: -125px;
  margin-left: 200px;
}

.solucaoContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.solucaoTitle {
  font-size: 1.5rem;
  font-weight: 800;
  margin-bottom: 15px;
}

.solucaoBox {
  background-color: #F2E6D8; /* cor da caixa */
  padding: 20px;
  border-radius: 8px;
  width: 800px; /* ajuste como quiser */
  text-align: justify;
  font-weight: 500;
  flex-wrap: wrap;
}

.containerReiniciar {
  display: flex;
  justify-content: center;
  margin-top: -150px;
  width: 100%;
}

.btnReiniciar {
  background-color: #598DCF;
  color: #FFF;
  font-weight: 800;
  padding: 12px 150px;
  border: none;
  border-radius: 10px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.btnReiniciar:hover {
  transform: translateY(-2px);
  opacity: 0.9;
}

