*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  width: 100%;
  height: 100px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-start; 
  padding-left: 50px; 
}

.logo {
  height: 80px;
  cursor: pointer;
}
